certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.4.2
dj-database-url==0.4.2
Django==2.0.1
django-storages==1.7.1
djangorestframework==3.7.7
flake8==3.6.0
grpcio==1.14.2
grpcio-tools==1.14.2
gunicorn==19.7.1
idna==2.7
isodate==0.6.0
itypes==1.1.0
Jinja2==2.10
Markdown==2.6.10
MarkupSafe==1.0
mccabe==0.6.1
msrest==0.6.2
msrestazure==0.5.1
oauthlib==2.1.0
protobuf==3.6.1
psycopg2==2.7.3.2
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
Pygments==2.2.0
PyJWT==1.6.4
python-dateutil==2.7.5
python-dotenv==0.9.1
pytz==2018.7
requests==2.20.0
requests-oauthlib==1.0.0
six==1.11.0
uritemplate==3.0.0
urllib3==1.24
whitenoise==3.3.1
© 2022 GitHub, Inc.
Terms
Privacy
